/* TASK PAGE HEADER SECTION */
.main-container {
  display: flex;
  justify-content: center;
}

.landing-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 70%;
  background-color: rgb(19, 88, 88);
  border-radius: 5px;
}

.landing-header {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px;
  background-color: rgb(109, 175, 175);
  border-radius: 7px;
  margin: 5px;
}

.landing-header h1 {
  text-align: center;
  padding: 5px;
  font-size: 30px;
  font-weight: 800;
  font-family: sans-serif;
  color: rgb(9, 49, 49);
}

.button-container {
  display: flex;
  justify-content: center;
}

.task-buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.task-button {
  padding: 10px 12px;
  border: 4px solid rgb(62, 154, 154);
  background-color: rgb(202, 189, 189);
  border-radius: 8px;
  color: rgb(40, 96, 96);
  font-weight: 800;
  font-size: 14px;
  font-family: sans-serif;
}

.task-button:hover {
  background-color: rgb(118, 196, 196);
}

/* NEW TASK SECTION */
.new-tasks{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landig-mid {
  width: 92%;
  display: flex;
  /* flex-direction: column; */
}

.upcoming{
  display: flex;

}

.new-task {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 5px;
  width: 100%;
  border-radius: 5px;
}

.new-task p {
  font-size: 20px;
  color: rgb(6, 32, 32);
  margin-top: 0;
  font-weight: 800;
  font-family: sans-serif;
  color: rgb(9, 49, 49);
}

.form-text {
  /* width: 50%; */
}

.textarea {
  background-color: rgb(242, 237, 237);
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid rgb(31, 121, 121);
  padding: 5px 10px 0;
  color: rgb(68, 35, 35);
  font-weight: 500;
  font-size: 18px;
  outline: none;
  width: 100%;
}

.textarea:hover {
  background-color: #fff;
}

.mid-input {
  display: flex;
}

.mid-input input {
  margin-right: 10px;
  padding: 5px;
  background-color: rgb(242, 237, 237);
  color: rgb(107, 46, 46);
  font-size: 15px;
  border: none;
  border-radius: 3px;
}

.new-task-input {
  margin-bottom: 10px;
}

.bottom-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit-button input {
  padding: 7px;
  background-color: rgb(135, 185, 135);
  font-size: 12px;
  font-weight: 600;
  border: none;
  color: rgb(0, 1, 0);
}

/* TASK SECTION */

.landing-bottom {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  align-items: flex-start;
  background-color: rgb(19, 88, 88);
}

.task-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  width: 31.5%;
}

.taskReminder {
  border: 4px solid rgb(22, 139, 65);
}

.tasky {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  padding: 5px 15px;
  background-color: rgb(120, 184, 155);
  border-radius: 7px;
}

.tasky h3 {
  margin-bottom: 5px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(9, 49, 49);
}

.tasky p {
  margin: 0;
  margin-bottom: 5px;
  color: rgb(9, 49, 49);
}